keybinds clear-defaults=true {
    shared_except "locked" "scroll" "search" "tmux" {
        bind "Ctrl t" { SwitchToMode "tmux"; }
    }
    shared_among "pane" "tmux" {
        bind "x" { CloseFocus; SwitchToMode "normal"; }
    }
    shared_among "session" "tmux" {
        bind "d" { Detach; }
    }
    normal {
        bind "Alt t" { NewTab; SwitchToMode "normal"; }
        bind "Alt h" { MoveFocus "left"; SwitchToMode "normal"; }
        bind "Alt j" { MoveFocus "down"; SwitchToMode "normal"; }
        bind "Alt k" { MoveFocus "up"; SwitchToMode "normal"; }
        bind "Alt l" { MoveFocus "right"; SwitchToMode "normal"; }
        bind "Alt x" { NewPane "down"; SwitchToMode "normal"; }
        bind "Alt s" { NewPane "right"; SwitchToMode "normal"; }
        bind "Alt p" { GoToPreviousTab; SwitchToMode "normal"; }
        bind "Alt n" { GoToNextTab; SwitchToMode "normal"; }
        bind "Alt `" { CloseFocus; }
    }
    tmux {
    
    }
}


plugins {
    // compact-bar location="zellij:compact-bar"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider" {
        cwd "/"
    }
    plugin-manager location="zellij:plugin-manager"
    // session-manager location="zellij:session-manager"
    // status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    tab-bar location="zellij:tab-bar"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
}

session_serialization false
pane_viewport_serialization false
on_force_close "quit"
disable_session_metadata true
pane_frames false

// Plugins to load in the background when a new session starts
// eg. "file:/path/to/my-plugin.wasm"
// eg. "https://example.com/my-plugin.wasm"
load_plugins {
}
 
// Use a simplified UI without special fonts (arrow glyphs)
// Options:
//   - true
//   - false (Default)
// 
// simplified_ui true
 
// Choose the theme that is specified in the themes section.
// Default: default
// 
// theme "dracula"
 
// Choose the base input mode of zellij.
// Default: normal
// 
// default_mode "normal"
// default_layout "compact"
// pane_frames false
// mouse_mode false

// ui {
//     pane_frames {
//         hide_session_name true
//     }
// }
